body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

}

#container{
	width: 600px;
	display: grid;
	height: 600px;
	padding-left: 50px;
	padding-bottom: 100px;
}

.row{
	border: 1px solid black;
}

.pos{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.bgBlack{
	background-color: black;
}

header h1{
	text-align: center;
	margin: 90px;
}

.settings{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.settings  div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#colorPicker{
	width: 80px;
	height: 70px;
	border: none;
}

#random, #clearGrid{
	width: 80px;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	background-color: white;
	transition-duration: 0.2s;
}

#random:hover,#clearGrid:hover{
	background-color: rgb(195, 195, 197);
}

